.todolist {
    margin-top: 50px;
    width: 400px;
    margin-right: 25px;
}

.todolistTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.todolistTitle button {
    background: white;
    border: none;
    color: #cccccc;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.tasksBlock {
    width: 100%;
    box-shadow: 1px 1px 5px 1px #ccc;
    border-radius: 5px;
}

.tasksBlock ul {
    margin: 0;
    padding: 0;
}
.tasksBlock li {
    padding: 3px 0;
    list-style-type: none;
    border-bottom: 1px solid #ccc;
}


/*bottom block*/
.todoBottom {
    margin-top: 10px;
    font-size: 12px;
    display: flex;
    gap: 6%;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.filter{
    border: none;
    background: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}


.activeFilter {
    border: 1px solid #ccc;
    background: #b3d9c9;
    border-radius: 5px;
    font-size: 12px;
}

.filters {
    display: flex;
    width: 170px;
    justify-content: space-between;
}


.clearButton button {
    border: none;
    cursor: pointer;
    background: #fff;
    width: 100%;
}