.addItemForm {
    display: flex;
    width: 400px;
    justify-content: space-between;

}

.addItemForm input {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 15px;
    outline: none;
    border-radius: 5px 5px 0 0;
}


